.benefits {
  padding-top: 10px;
  padding-bottom: 23px;
  background-image: url(../img/bg-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .border-gradient();
  
  .title {
    margin-bottom: 10px;
  }
}

.benefits__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.benefits__item {
  width: 30%;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Tahoma", "Arial", sans-serif;
  text-align: center;
  font-size: 24px;
}

.benefits__img {
  margin-bottom: 20px;
}
