.footer {
  padding-top: 70px;
  padding-bottom: 55px;
}

.footer__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 75px;
  
  .menu {
    margin-right: 160px;
  }
}

.footer__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 15px;
  padding-right: 25px;
  
  li {
    margin-bottom: 20px;
  }
  
  li:nth-child(2) {
    margin-bottom: 0;
  }
}
