.tools {
  padding-top: 75px;
  padding-bottom: 75px;
  .border-gradient-back();
}

.tools__wrap {
  max-width: 845px;
  margin-left: auto;
  margin-right: auto;
  
  .title {
    margin-bottom: 90px;
  }
}
